* {
  margin: 0;
  padding: 0;
}
body {
  background: #03001c;
}
.grand_wrapper {
  background: #03001c;
  border-radius: 40px;

  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background: rgba(3, 0, 28, 0.6);
  backdrop-filter: blur(13.5px);
}
.header_PS {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  background: radial-gradient(
    100% 506.25% at 0% 0%,
    #f9f7ff 0%,
    #c9bcf1 49.22%,
    #8a70da 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 0px;
  gap: 40px;
  list-style-type: none;
}
.nav_item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #eeeeee;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.img_header {
  margin-right: 25px;
}
.header_but {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
  background: radial-gradient(
    100% 626.68% at 0% 0%,
    rgba(30, 19, 65, 0.6) 0%,
    rgba(57, 30, 138, 0.6) 49.19%,
    rgba(119, 94, 197, 0.6) 94.27%
  );
  border-radius: 25px;
  padding: 10px 21px;
  border: none;
}
.main_page {
  background: #03001c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main_header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 75px;
  line-height: 88px;
  margin-bottom: 30px;
  background: radial-gradient(
    100% 506.25% at 0% 0%,
    #f9f7ff 0%,
    #c9bcf1 49.22%,
    #8a70da 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main_par {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 86px;
  color: #eeeeee;
}
.wrapper_text {
  width: 395px;
}
.wrapper_button {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 40px;
}
.main_button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  font-variant: all-small-caps;
  box-shadow: -150px 100px 70px 100px rgba(118, 98, 177, 0.137);

  color: #ffffff;
  background: radial-gradient(
    100% 626.68% at 0% 0%,
    rgba(30, 19, 65, 0.6) 0%,
    rgba(57, 30, 138, 0.6) 49.19%,
    rgba(119, 94, 197, 0.6) 94.27%
  );
  border-radius: 25px;
  border: none;
  padding: 11px 58px;
}
.arrow {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: radial-gradient(
    100% 626.68% at 0% 0%,
    rgba(30, 19, 65, 0.6) 0%,
    rgba(57, 30, 138, 0.6) 49.19%,
    rgba(119, 94, 197, 0.6) 94.27%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper_par {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;

  color: #eeeeee;
}

.sircle {
  width: 236.24px;
  height: 236.24px;
  border-radius: 50%;
  background: radial-gradient(
    51.02% 51.02% at 27.19% 28.07%,
    #c3b3f3 0%,
    #a394d2 23.96%,
    #5a4696 64.06%,
    #211449 100%
  );
  transform: rotate(106.5deg);
  position: relative;
  left: 200px;
  bottom: 40px;
  z-index: 0;
  position: relative;
  top: 90.1px;
  left: 345px;
  box-shadow: 170px 170px 275px 50px rgba(155, 127, 241, 0.4),
    170px 170px 275px 50px rgba(180, 159, 243, 0.4);
}

.main_gamepad {
  z-index: 1;
  position: relative;
  bottom: 170px;
  right: 50px;
}

.first_dote {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  transform: rotate(90deg);
  position: relative;
  z-index: 3;
  bottom: 630px;
  left: 50px;
  box-shadow: 1px 1px 5px 5px rgba(119, 94, 197, 0.42),
    1px 1px 7px 7px rgba(119, 94, 197, 0.42);
}
.second_dote {
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  width: 14px;
  height: 14px;
  border-radius: 50%;
  z-index: 3;
  position: relative;
  bottom: 450px;
  left: 310px;
  box-shadow: 1px 1px 5px 5px rgba(119, 94, 197, 0.42),
    1px 1px 7px 7px rgba(119, 94, 197, 0.42);
}
.first_line {
  width: 65px;
  height: 3px;
  transform: rotate(-180deg);
  border: 2px solid;
  position: relative;
  z-index: 2;
  bottom: 639px;
  right: 15px;
  background-color: #58468f;
  border-radius: 5px;
}
.first_par {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 93px;
  color: #eeeeee;
  position: relative;
  bottom: 660px;
  right: 115px;
}
.second_line {
  width: 161px;
  height: 3px;
  transform: rotate(90deg);
  background-color: #58468f;
  border-radius: 5px;
  position: relative;
  bottom: 380px;
  left: 236.5px;
  z-index: 2;
}
.second_par {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 142px;
  color: #eeeeee;
  position: relative;
  bottom: 290px;
  left: 250px;
}
.arrow_buttons {
  position: absolute;
  right: 750px;
  top: 869px;
}
.left_arrow {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: radial-gradient(
    100% 626.68% at 0% 0%,
    rgba(30, 19, 65, 0.6) 0%,
    rgba(57, 30, 138, 0.6) 49.19%,
    rgba(119, 94, 197, 0.6) 94.27%
  );
  transform: rotate(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.white_dote {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #eeeeee;
  opacity: 0.6;
}
.purple_dote {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(
    100% 626.68% at 0% 0%,
    rgba(30, 19, 65, 0.6) 0%,
    rgba(57, 30, 138, 0.6) 49.19%,
    rgba(119, 94, 197, 0.6) 94.27%
  );
}
.right_arrow {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: radial-gradient(
    100% 626.68% at 0% 0%,
    rgba(30, 19, 65, 0.6) 0%,
    rgba(57, 30, 138, 0.6) 49.19%,
    rgba(119, 94, 197, 0.6) 94.27%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 173px;
  margin: 0 auto;
}
.left_arrov {
  transform: rotate(180deg);
}

.quality_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  height: 520px;
  margin-bottom: 217px;
}
.quality_text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 24px;
}
.quality_header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  background: radial-gradient(
    100% 506.25% at 0% 0%,
    #f9f7ff 0%,
    #c9bcf1 49.22%,
    #8a70da 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  width: 566px;
  height: 75px;
}
.quality_par {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  width: 500px;
  height: 72px;
  color: #ffffff;
}
.wrapper_image {
  position: relative;
}
.second_sircle {
  width: 336px;
  height: 336px;
  border-radius: 50%;
  background: radial-gradient(
    51.02% 51.02% at 27.19% 28.07%,
    #c3b3f3 0%,
    #a394d2 23.96%,
    #5a4696 64.06%,
    #211449 100%
  );
  position: relative;
  z-index: 1;
  left: 200px;
  box-shadow: 200px 20px 200px 100px rgba(155, 127, 241, 0.208);
}
.quality_gamepad {
  position: relative;
  z-index: 2;
  bottom: 380px;
  left: 110px;
}
.item_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.dash {
  width: 40px;
  height: 2px;
  background: #8a70da;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 10px 2px rgba(119, 94, 197, 0.42),
    1px 1px 5px 2px rgba(119, 94, 197, 0.42);
}
.item_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.wrapper_quality-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 26px;
  width: 413px;
}
.gueideline_header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  margin-bottom: 134px;
  color: #eeeeee;
}
.gueideline_gamepad {
  z-index: 2;
}
.gueideline_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gamepad_shadow {
  z-index: 1;
  width: 100px;
  height: 100px;
  color: green;
  position: relative;
  bottom: 700px;
  left: 700px;
  box-shadow: 0.1px 0.1px 300px 200px rgba(120, 94, 197, 0.187);
  border-radius: 50%;
}
/*точки*/
.dot_left_bumper {
  width: 14px;
  height: 14px;
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  transform: rotate(135deg);
  border-radius: 50%;
  position: relative;
  bottom: 405px;
  right: 135px;
  box-shadow: 0.1px 0.1px 32px 5px #8a70da, 0.1px 0.1px 25px 8px #8a70da;
  z-index: 4;
}
.dot_left_stick {
  width: 14px;
  height: 14px;
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  transform: rotate(135deg);
  border-radius: 50%;
  box-shadow: 0.1px 0.1px 32px 5px #8a70da, 0.1px 0.1px 25px 8px #8a70da;
  position: relative;
  bottom: 325px;
  right: 160px;
  z-index: 4;
}
.dot_directional_pad {
  width: 14px;
  height: 14px;
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  transform: matrix(0, -1, -1, 0, 0, 0);
  border-radius: 50%;
  box-shadow: 0.1px 0.1px 32px 5px #8a70da, 0.1px 0.1px 25px 8px #8a70da;
  position: relative;
  bottom: 235px;
  right: 117px;
  z-index: 4;
}
.dot_view_button {
  width: 14px;
  height: 14px;
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-radius: 50%;
  position: relative;
  bottom: 353px;
  right: 46px;
  box-shadow: 0.1px 0.1px 32px 5px #8a70da, 0.1px 0.1px 25px 8px #8a70da;
  z-index: 4;
}
.dot_share_button {
  width: 14px;
  height: 14px;
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: relative;
  bottom: 335px;
  right: 3px;
  border-radius: 50%;
  box-shadow: 0.1px 0.1px 32px 5px #8a70da, 0.1px 0.1px 25px 8px #8a70da;
  z-index: 4;
}
.dot_right_bumper {
  width: 14px;
  height: 14px;
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  position: relative;
  bottom: 475px;
  left: 115px;
  border-radius: 50%;
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
  box-shadow: 0.1px 0.1px 32px 5px #8a70da, 0.1px 0.1px 25px 8px #8a70da;
  z-index: 4;
}
.dot_menu_button {
  width: 14px;
  height: 14px;
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  position: relative;
  bottom: 395px;
  left: 42px;
  border-radius: 50%;
  box-shadow: 0.1px 0.1px 32px 5px #8a70da, 0.1px 0.1px 25px 8px #8a70da;
  z-index: 4;
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
}
.dot_y_button {
  width: 14px;
  height: 14px;
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  border-radius: 50%;
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
  box-shadow: 0.1px 0.1px 32px 5px #8a70da, 0.1px 0.1px 25px 8px #8a70da;
  position: relative;
  bottom: 450px;
  left: 155px;
  z-index: 4;
}
.dot_b_button {
  width: 14px;
  height: 14px;
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  border-radius: 50%;
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
  position: relative;
  bottom: 425px;
  left: 190px;
  box-shadow: 0.1px 0.1px 32px 5px #8a70da, 0.1px 0.1px 25px 8px #8a70da;
  z-index: 4;
}
.dot_x_button {
  width: 14px;
  height: 14px;
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  border-radius: 50%;
  transform: matrix(0, 1, 1, 0, 0, 0);
  position: relative;
  bottom: 420px;
  left: 120px;
  box-shadow: 0.1px 0.1px 32px 5px #8a70da, 0.1px 0.1px 25px 8px #8a70da;
  z-index: 4;
}
.dot_a_button {
  width: 14px;
  height: 14px;
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  border-radius: 50%;
  transform: matrix(0, 1, 1, 0, 0, 0);
  position: relative;
  bottom: 395px;
  left: 155px;
  box-shadow: 0.1px 0.1px 32px 5px #8a70da, 0.1px 0.1px 25px 8px #8a70da;
  z-index: 4;
}
.dot_right_stick {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: radial-gradient(
    80% 80% at 20% 20%,
    #dbcffe 0%,
    #58468f 65.62%,
    #1f114a 100%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: relative;
  bottom: 350px;
  left: 70px;
  box-shadow: 0.1px 0.1px 32px 5px #8a70da, 0.1px 0.1px 25px 8px #8a70da;
  z-index: 3;
}
.arrow_buttons_guideline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

  position: relative;
  bottom: 250px;
}
/* палки*/
.left_bumper_dash_1 {
  width: 70.71px;
  height: 3px;
  transform: rotate(-135deg);
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 590px;
  right: 155px;
  z-index: 3;
}
.left_bumper_dash_2 {
  width: 122px;
  height: 3px;
  transform: rotate(-180deg);
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  z-index: 3;
  bottom: 618px;
  right: 239.5px;
}
.right_bumper_dash_1 {
  width: 70.71px;
  height: 3px;
  border-radius: 5px;
  transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
  background: #8a70da;
  z-index: 3;
  position: relative;
  bottom: 601px;
  left: 140px;
}
.right_bumper_dash_2 {
  width: 122px;
  height: 3px;
  transform: rotate(-180deg);
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 628px;
  left: 225px;
  z-index: 3;
}
.left_stick_dash_1 {
  width: 161px;
  height: 3px;
  transform: rotate(-135deg);
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 544px;
  right: 220px;
  z-index: 3;
}
.left_stick_dash_2 {
  width: 122px;
  height: 3px;
  transform: rotate(-180deg);
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 603px;
  right: 337px;
  z-index: 3;
}
.menu_dash_1 {
  width: 161px;
  height: 3px;
  transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 550px;
  left: 101px;
  z-index: 3;
}
.menu_dash_2 {
  width: 122px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 3px;
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 610px;
  left: 218px;
  z-index: 3;
}
.y_dash_1 {
  width: 70.71px;
  transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
  height: 3px;
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 564px;
  left: 180px;
  z-index: 3;
}
.y_dash_2 {
  width: 122px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 3px;
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 591px;
  left: 265px;
  z-index: 3;
}
.b_dash_1 {
  width: 70.71px;
  transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
  height: 3px;
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 536px;
  left: 220px;
  z-index: 3;
}
.b_dash_2 {
  width: 122px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 3px;
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 564px;
  left: 304px;
  z-index: 3;
}
.d-pad_dash {
  width: 190px;
  transform: rotate(180deg);
  height: 3px;
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 405px;
  right: 217px;
  z-index: 3;
}
.right_stick_dash {
  width: 100px;
  transform: rotate(90deg);
  height: 3px;
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 340px;
  left: 70px;
  z-index: 3;
}
.view_bottom_dash {
  transform: rotate(-90deg);
  width: 150px;
  height: 3px;
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 597px;
  right: 46px;
  z-index: 3;
}

.share_button_dash {
  width: 150px;
  transform: rotate(-90deg);
  height: 3px;
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 568px;
  right: 3px;
  z-index: 3;
}
.x_button_dash {
  width: 205px;
  z-index: 3;
  height: 3px;
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 505px;
  left: 230px;
}
.a_button_dash {
  width: 205px;
  height: 3px;
  border-radius: 5px;
  background: #8a70da;
  position: relative;
  bottom: 470px;
  left: 260px;
  z-index: 3;
}
/* здесь параграффы  для кнопок*/
.giudeline_par {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #ffffff;
}
.par_wrapper_left_bumper {
  position: relative;
  bottom: 680px;
  right: 345px;
}
.par_wrapper_view_button {
  position: relative;
  bottom: 720px;
  right: 45px;
}
.par_wrapper_share_button {
  position: relative;
  bottom: 708px;
  left: 22px;
}
.par_wrapper_right_bumper {
  position: relative;
  bottom: 735px;
  left: 335px;
}
.par_wrapper_menu_button {
  position: relative;
  bottom: 720px;
  left: 325px;
}
.par_wrapper_y_button {
  position: relative;
  bottom: 712px;
  left: 360px;
}
.par_wrapper_b_button {
  position: relative;
  bottom: 696px;
  left: 398px;
}
.par_wrapper_x_button {
  position: relative;
  bottom: 638px;
  left: 365px;
}
.par_wrapper_a_button {
  position: relative;
  bottom: 618px;
  left: 394px;
}
.par_wrapper_right_stick {
  position: relative;
  bottom: 450px;
  left: 68px;
}
.par_wrapper_d-pad {
  position: relative;
  bottom: 601px;
  right: 392px;
}
.par_wrapper_left_stick {
  position: relative;
  bottom: 837px;
  right: 430px;
}
/* xbox series x*/
.wrapper_division {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.x-wrapper {
  position: relative;
}
.wrapper_inside_text {
  width: 996px;
  height: 640px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 82px;
  padding-right: 82px;
}
.x_header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 82px;

  color: #eeeeee;
}
.x_header_stand {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: #ffffff;
}
.x_par-1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;

  color: #ffffff;
}
.x_dash_par {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.x_dash {
  width: 40px;
  height: 4px;

  background: #a394d2;
}
.x_list {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.box_and_gamepad {
  position: relative;
}
.text-x {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.x_box_buy_button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 25.6158px;
  line-height: 30px;
  font-variant: all-small-caps;
  color: #ffffff;
  background: radial-gradient(
    100% 626.68% at 0% 0%,
    rgba(30, 19, 65, 0.6) 0%,
    rgba(57, 30, 138, 0.6) 49.19%,
    rgba(119, 94, 197, 0.6) 94.27%
  );
  border-radius: 32.0197px;
  padding: 14px 74px;
  border: none;
}
.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 91px;
}
.box_and_gamepad {
  z-index: 2;
  position: relative;
  top: 700px;
  left: 120px;
}
.x_joystick {
  position: relative;
  left: 1100px;
  bottom: 400px;

  z-index: 2;
}
.left_shadow {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 600px;
  left: 300px;
  box-shadow: 1px 1px 300px 200px rgba(160, 134, 238, 0.122);
}
.right_shadow {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 300px 200px rgba(160, 134, 238, 0.126);
  left: 1200px;
  bottom: 800px;
}
/*footer*/
.wrapper_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer_item_head {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  list-style-type: none;
}
.footer_item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  list-style-type: none;
}
.wrapper_sotial {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.follow {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.footer_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 43px;
}
.footer_column_unodlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
/*стили относящиеся к разделительной кнопке*/
.delimter_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 20px;
}
.line_before {
  height: 3px;
  width: 556px;
  background: radial-gradient(
    100% 626.68% at 0% 0%,
    rgba(30, 19, 65, 0.6) 0%,
    rgba(57, 30, 138, 0.6) 49.19%,
    rgba(119, 94, 197, 0.6) 94.27%
  );
  box-shadow: 1px 1px 10px 2px rgb(119 94 197 / 42%),
    1px 1px 5px 2px rgb(119 94 197 / 42%);
}
.line_after {
  height: 3px;
  width: 556px;
  background: radial-gradient(
    100% 626.68% at 0% 0%,
    rgba(30, 19, 65, 0.6) 0%,
    rgba(57, 30, 138, 0.6) 49.19%,
    rgba(119, 94, 197, 0.6) 94.27%
  );
  box-shadow: 1px 1px 10px 2px rgb(119 94 197 / 42%),
    1px 1px 5px 2px rgb(119 94 197 / 42%);
}

.delimiter_button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: white;
  width: 284px;
  height: 62px;
  background: radial-gradient(
    100% 626.68% at 0% 0%,
    rgba(30, 19, 65, 0.6) 0%,
    rgba(57, 30, 138, 0.6) 49.19%,
    rgba(119, 94, 197, 0.6) 94.27%
  );
  border-radius: 25px;
  border: none;
}
